################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/assignment1/.vs
/areaperimeter/.vs
/areaperimeter/bin/Debug/net6.0
/areaperimeter/obj
/Reverse number/.vs
/Reverse number/bin/Debug/net6.0
/assignments/cassignments/.vs
/assignments/cassignments/bin/Debug/net6.0
/assignments/cassignments/obj
